.horizontal-collapse {
     height: 70px;
}
.navbar-collapse.in {
     overflow-y: hidden;
}

@media only screen and (min-width: 768px) {
     .navbar-r {
          position: absolute;
          right: 0px;
     }
}

#logoImage {
     height: 100%;
     width: auto;
}

.divBorder {
     margin: .5em -.5em;
     padding: .5em;
     border: 2px solid grey;
     border-radius: 5px;
}

.marginFive {
     margin: .5em;
}

#blackColor, #copyrightBlack {
     color: white;
}

.backgroundgrey {
     background-color: #272727;
}

@media screen and (min-width: 720px) {
     .divBorder {
          min-height: 25vh;
     }
}

body {
     background: url(./images/background1.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

footer {
     bottom: 0px;
     left: 0px;
     width: 100%;
}
