<div class="modal-header">
     <h3 class="modal-title" id="modal-title">Forgot Password</h3>
</div>
<div class="modal-body" id="modal-body">
     <lable for="otp">OTP:</label>
     <p>Submit the OTP you have recieved on your email address.</p>
     <p ng-if = "error">{{error}}</p>
     <input type="text" id="otp" ng-model="otp" class="form-control">
     <button class="btn btn-primary" type="button" ng-click="sentOTP()">Sent Again</button>
</div>
<div class="modal-footer">
     <button class="btn btn-success" type="button" ng-click="submitOTP()">Submit</button>
     <button class="btn btn-primary" type="button" ng-click="ok()">{{cancelOkBtn}}</button>
</div>
