<div class="modal-header">
     <h3 class="modal-title" id="modal-title">Instructions</h3>
</div>
<div class="modal-body" id="modal-body">
     <ul>
          <li></li>
     </ul>
     <form name="instructionForm">
          <label>
               <input type="checkbox" ng-model="terms"> I have read all he instructions and rules given above and I agree to uphold all of them.
          </label>
     </form>
</div>
<div class="modal-footer">
     <button class="btn btn-success" type="button" ng-click="start()">Start</button>
     <button class="btn btn-primary" type="button" ng-click="ok()">Cancel</button>
</div>
